<div class="footer-dark">
  <footer>
    <div class="grid grid-nogutter align-items-center">
      <!-- <div class="p-6 "> -->
        <!-- <div class="col-12 md:col-6 item text-center">
            <h3>Services</h3>
            <ul>
                <li><a href="#">Web design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Hosting</a></li>
            </ul>
        </div>
        <div class="col-12 md:col-6 item text-center">
            <h3>About</h3>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div> -->
      <!-- </div> -->
        <div class="col-12 item text text-center">
            <h3>Special Thanks To</h3>
            <p>
              <a href="https://www.freepik.com/free-vector/hand-with-wallet-with-paper-banknotes-money-cash_35779725.htm#query=salary&position=14&from_view=keyword">Image by upklyak</a> on <a href="https://www.freepik.com/" target="_blank">Freepik</a>
            </p>
            <p>
              <a href="https://www.kaggle.com/datasets/aashishghosh/iphone-prices-and-average-rent-across-the-world" target="_blank">iPhone Prices Data</a> on <a href="https://www.kaggle.com/" target="_blank">Kaggle</a>
            </p>
            <p>
              <a href="https://exchangerate.host/#/docs" target="_blank">Foreign Exchange API</a> on <a href="https://exchangerate.host/#/" target="_blank">exchangerate.host</a>
            </p>
        </div>
        <div class="col item social">
          <!-- <a href="#"><i class="icon ion-social-facebook"></i></a>
          <a href="#"><i class="icon ion-social-twitter"></i></a>
          <a href="#"><i class="icon ion-social-snapchat"></i></a>
          <a href="#"><i class="icon ion-social-instagram"></i></a> -->
          <a class="icon" href="https://linkedin.com/in/robin-dalmy1997" target="_blank">
            <!-- <fa-icon [icon]="faLinkedin"></fa-icon> -->
            <i class="pi pi-linkedin" style="font-size: 2rem"></i>
          </a>
          <a class="icon" href="https://github.com/MisterMunchkin" target="_blank">
            <!-- <fa-icon [icon]="faGithub"></fa-icon> -->
            <i class="pi pi-github" style="font-size: 2rem"></i>
          </a>
        </div>
    </div>
    <p class="copyright">Made With ❤️‍🔥 && ☕️ by <a href="https://robindalmy.com/" target="_blank">Robin Dalmy</a></p>
  </footer>
</div>
