.l_content {
  margin-left: 150px;
  width: fit-content;
  width: -moz-fit-content;
  min-height: 400px;
}

.content__rightLeftSide {
  display: flex;
  flex-wrap: wrap;
}

.hero-background::before {
  background-image: url('/assets/svgs/hero-section-background.svg');
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}
