<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<p-toast></p-toast>

<div class="grid grid-nogutter surface-section text-800 align-items-center hero-background-full-gradient">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
      <section>
          <span class="text-6xl font-bold mb-1 text-white">Yet Another</span>
          <span class="text-6xl text-primary font-bold mb-3"> Salary </span>
          <span class="text-6xl font-bold mb-1 text-white">Converter</span>
          <span class="block text-xl mt-2 mb-4 text-white">
            Got a remote job offer with a currency and salary rate you're unfamiliar with?
          </span>

          <app-salary-conversion-form (newConversionResultEvent)="newConversionResultEvent($event)"></app-salary-conversion-form>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="/assets/images/hero-image.png" alt="Image" class="ml-auto block" style="z-index: 1">
  </div>
</div>

<div *ngIf="conversionResult" class="grid align-items-end">
    <app-conversion-result class="col" id="conversion-result" [conversionResult]="conversionResult"></app-conversion-result>
    <app-iphone-comparison class="col"></app-iphone-comparison>
</div>

<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
