.l_content {
  margin-left: 150px;
  width: fit-content;
  width: -moz-fit-content;
  min-height: 400px;
}

.content__rightLeftSide {
  display: flex;
  flex-wrap: wrap;
}

.hero-background {
  background: url('/assets/svgs/hero-section-background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
