/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.color-primary-gradient-dark {
  background: hsla(243, 75%, 59%, 1);
  background: linear-gradient(90deg, hsla(243, 75%, 59%, 1) 0%, hsla(243, 100%, 21%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(243, 75%, 59%, 1) 0%, hsla(243, 100%, 21%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(243, 75%, 59%, 1) 0%, hsla(243, 100%, 21%, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4F46E5", endColorstr="#06006A", GradientType=1);
}
